[submodule "vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
	shallow = true
[submodule "vim/bundle/haskell-vim"]
	path = vim/bundle/haskell-vim
	url = git@github.com:neovimhaskell/haskell-vim.git
	shallow = true
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
	shallow = true
