.test1 {
  font-family:  "XDejaVuSansMono", "LastResort";
}
.test2 { 
  font-family: "DejaVu Sans Mono"
               ,"DejaVu Math TeX Gyre"
               ,"Quivira"
               ,"Symbola"
               ,"Arial Unicode MS"
               ,"LastResort"
               ;
}
.test3 {
  font-family:  "DejaVu Sans Mono", "LastResort";
}
.test4 {
  font-family: "DejaVu Math TeX Gyre", "LastResort";
}
.test5 {
  font-family: "Quivira", "LastResort";
}
.test6 {
  font-family: "Symbola", "LastResort";
}
.test7 {
  font-family: "Arial Unicode MS", "LastResort";
}
.test8 {
  font-family: "Source Code Pro", "LastResort";
}
