.test1 {
  font-family:  "DejaVuSansMono"
               ,"Source Code Pro"
               ,"DejaVu Math TeX Gyre"
               ,"Symbola"
               ,"Quivira"
               ,"Arial Unicode MS"
               ,"LastResort"
               ;
}
.test2 { 
  font-family:  "Iosevka Term SS02"
               ,"Source Code Pro"
               ,"DejaVu Math TeX Gyre"
               ,"Symbola"
               ,"Quivira"
               ,"Arial Unicode MS"
               ,"LastResort"
               ;
}
.test3 {
  /*
  font-family:  "Menlo"
               ,"Source Code Pro"
               ,"DejaVu Math TeX Gyre"
               ,"Symbola"
               ,"Quivira"
               ,"Arial Unicode MS"
               ,"LastResort"
               ;
  */
  font-family: "DejaVuSerif", "LastResort";
}
.test4 {
  /*
  font-family:  "Source Code Pro"
               ,"Source Code Pro"
               ,"DejaVu Math TeX Gyre"
               ,"Symbola"
               ,"Quivira"
               ,"Arial Unicode MS"
               ,"LastResort"
               ;
               */
  font-family: "DejaVuSans", "LastResort";
}
.test5 {
  font-family: "DejaVuSansMono", "LastResort";
}
.test6 {
  font-family: "Arial Unicode MS", "Symbola", "LastResort";
}
.test7 {
  font-family: "Arial Unicode MS", "Quivira", "LastResort";
}
.test8 {
  font-family: "Arial Unicode MS", "LastResort";
}

/* 2AFB */
